
@media screen and (max-width: 940px) {
    #hamburger {
        display: block;
        position: relative;
    }
    .nav-list {
        display: none;
        width: 90%;
        flex-direction: column;
        align-items: flex-end;
    }
    .rightside{
        display: none;
    }
    .nav-list.show {
        position: absolute;
        width: 20%;
        top: 5%;
        left: 75%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header .text-block h1 {
        font-size: 4rem;
    }
    .header .text-block .email-signup input[type="text"] {
        margin-left: 0;
    }
    .dashboard .img-content .heartguy {
        left: 32%;
    }
    .dashboard .img-content .layinggirl {
        top: 500px;
    }
    .dashboard .img-content .layinggirl img {
        width: 250px;
    }
    .dashboard .img-content h4 {
        top: 635px;
        left: 35%;
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {
    #hamburger {
        display: block;
        position: relative;
    }
    .nav-list {
        display: none;
        width: 90%;
        flex-direction: column;
        align-items: flex-end;
    }
    .rightside{
        display: none;
    }
    .nav-list.show {
        position: absolute;
        width: 20%;
        top: 5%;
        left: 75%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header .text-block h1 {
        font-size: 4rem;
    }
    .header .text-block .email-signup input[type="text"] {
        margin-left: 0;
    }
    .header .text-block .email-signup button {
        width: 120px;
    }
    .dashboard {
        height: 80vh;
    }
    .dashboard .img-content .heartguy {
        top: 70px;
        left: 32%;
    }
    .dashboard .img-content .heartguy img {
        width: 200px;
    }
    .dashboard .img-content .layinggirl {
        top: 450px;
    }
    .dashboard .img-content .layinggirl img {
        width: 200px;
    }
    .dashboard .img-content h4 {
        top: 550px;
        left: 35%;
        font-size: 16px;
    }
    .minds {
        margin-top: 0;
    }
    .minds .listofminds {
        width: 100%;
    }
    .minds .listofminds a li {
        font-size: 16px;
    }
    .notecard {
        height: 75vh;
    }
    .notecard .main-block h4 {
        margin-top: 0;
    }
    .network {
        height: 55vh;
    }
    .network .left img {
        width: 350px;
    } 
    .network .right h5 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .network .right h1 {
        width: 80%;
        font-size: 2.2rem;
    }
    .network .right p {
        font-size: 12px;
    }
    .intuitive .left h5 {
        margin-left: 20px;
        font-size: 14px;
    }
    .intuitive .left h1 {
        margin-left: 20px;
        font-size: 2.2rem;
        width: 80%;
    }
    .intuitive .left p {
        margin-left: 20px;
        font-size: 12px;
    }
    .intuitive .left a {
        margin-left: 20px;
    }
    .intuitive .right img {
        width: 350px;
    }
}