@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

.container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .logo {
    flex-grow: .8;
    img {
      width: 160px;
    }
  }
  .hamburger {
    background-color: transparent;
    border: 0;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    display: none;
    &:focus {
      outline: none;
    }
  }
  .nav-list {
    flex-grow: .8;
    margin-left: -30px;
    font-family: 'Montserrat', sans-serif;
    a {
      padding: 0 10px;
      font-size: 16px;
      color: #98969c;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover {
        color: #000;
      }
    }
  }
  .rightside {
    flex-grow: .1;
    font-family: 'Montserrat', sans-serif;
    a {
      padding: 0 10px;
      font-size: 16px;
      color: #98969c;
      text-decoration: none;
    }
    button {
      height: 40px;
      background-color: #ff6682;
      border: none;
      border-radius: 10px;
      a {
        color: white;
        font-size: 16px;
      }
    }
  }
}

.header {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  .text-block {
    width: 45%;
    height: 100%;
    margin-top: 150px;
    h1 {
      font-size: 6rem;
      font-weight: 700;
      text-align: center;
      padding-bottom: 20px;
      color: rgb(48, 48, 48);
    }
    h4 {
      padding: 20px 0;
      text-align: center;
      font-size: 22px;
    }
    .email-signup {
      margin-top: 50px;
      text-align: center;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      input[type="text"] {
        height: 50px;
        width: 400px;
        margin-left: 18%;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        box-shadow: 1px 4px 19px -5px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 4px 19px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 4px 19px -5px rgba(0,0,0,0.75);
        &:focus {
        outline: none;
        }
      }
      button {
        // position: absolute;
        // top: 5px;
        // left: 400px;
        margin-top: 5px;
        margin-left: -105px;
        width: 100px;
        height: 40px;
        background-color: #ff6682;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        color: white;
      }
    }
    h5 {
      margin-top: 40px;
      text-align: center;
      color: #98969c;
      font-size: 13px;
    }
  }
}

.dashboard {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  .img-content {
    position: relative;
    .heartguy {
      position: absolute;
      left: 38%;
      top: -3px;
      z-index: 2;
    }
    .board {
      position: absolute;
      top: 190px;
      left: 10%;
      img {
        height: 70%;
        width: 90%;
        border-radius: 10px;
        z-index: 1;
        border: 10px solid #e9e9eb;
      }
    }
    .layinggirl {
      position: absolute;
      left: 70%;
      top: 630px;
      z-index: 2;
    }
    h4 {
      position: absolute;
      left: 40%;
      top: 900px;
      font-size: 18px;
      color: #98969c;
      font-family: 'Nunito', sans-serif;
    }
  }
}

.minds {
  width: 100%;
  height: 30vh;
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .listofminds {
    width: 70%;
    height: 200px;
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
    line-height: 2;
    a {
      text-decoration: none;
      color: #6a686e;
      li {
        display: inline;
        font-size: 23px;
        font-weight: 700;
        padding: 20px;
      }
      &:hover {
        color: #000;
      }
    }
  }
}

.notecard {
  height: 100vh;
  width: 100%;
  .main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    h4 {
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      margin-top: 100px;
      i {
        padding-right: 5px;
        color: #08c77e;
      }
    }
    h1 {
      margin: 35px 0;
      font-weight: 800;
      font-size: 46px;
    }
    .img-card {
      text-align: center;
      img {
        width: 55%;
      }
    }
    h3 {
      width: 45%;
      text-align: center;
      font-size: 18px;
      line-height: 1.8;
    }
    a {
      margin-top: 20px;
      text-decoration: none;
      color: #08c77e;
    }
  }
}

.network {
  height: 70vh;
  width: 100%;
  .left {
    float: left;
    width: 50%;
    text-align: center;
    img {
      width: 450px;
    }
  }
  .right {
    float: right;
    width: 50%;
    font-family: 'Nunito', sans-serif;
    h5 {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 600;
      i {
        color: #ff6682;
      }
    }
    h1 {
      width: 60%;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      width: 75%;
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      color: #ff6682;
    }
  }
}

.intuitive {
  height: 50vh;
  width: 100%;
  .left {
    float: left;
    width: 50%;
    font-family: 'Nunito', sans-serif;
    h5 {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 100px;
      font-size: 20px;
      font-weight: 600;
      i {
        color: #2384fb;
      }
    }
    h1 {
      width: 60%;
      margin-left: 100px;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      width: 75%;
      margin-left: 100px;
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      margin-left: 100px;
      color: #2384fb;
    }
  }
  .right {
    float: right;
    width: 50%;
    text-align: center;
    img {
      width: 500px;
    }
  }
}

.busy {
  height: 100vh;
  width: 100%;
  text-align: center;
  .text-blocks {
    margin: 50px 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    h4 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 30px;
    }
    p {
      font-size: 20px;
      width: 45%;
      line-height: 1.4;
      margin: 0 auto;
    }
  }
  .grid-block {
    width: 70%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .box1 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 1 / 1 / 4 / 4;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
          align-self: flex-start;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box2 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 1 / 4 / 4 / 7;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
          align-self: flex-start;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box3 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 1 / 7 / 4 / 10;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box4 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 1 / 10 / 4 / 13;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box5 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 4 / 1 / 7 / 4;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box6 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 4 / 4 / 7 / 7;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box7 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 4 / 7 / 7 / 10;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box8 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 4 / 10 / 7 / 13;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box9 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 7 / 1 / 10 / 4;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box10 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 7 / 4 / 10 / 7;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box11 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 7 / 7 / 10 / 10;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
    .box12 {
      width: 100%;
      height: 175px;
      background: #f9f8fb;
      border-radius: 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      grid-area: 7 / 10 / 10 / 13;
      .grid-text {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 15px;
        img {
          width: 45px;
          margin-left: 15px;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 20px;
          font-weight: 700;
          color: #000;
          align-self: flex-start;
          margin-left: 20px;
          margin-bottom: 15px;
        }
        p {
          color: #6a686e;
          font-size: 16px;
          width: 80%;
          line-height: 1.4;
          margin-left: 14px;
        }
      }
      &:hover {
        background: #fff;
        transform: scale(1.1);
        box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
      }
    }
  }
}